@{
    ViewBag.Title = "Web приложение для приемки заказа на доставку";
}

<div class="jumbotron">
    <h2>Описание задачи</h2>
    <p>Реализовать простое Web приложение для приемки заказа на доставку со следующим функционалом:</p>
    <p>
        1. Форма создания нового заказа (все поля обязательны для заполнения):
        <ul type="disc">
            <li>Город отправителя</li>
            <li>Адрес отправителя</li>
            <li>Город получателя</li>
            <li>Адрес получателя</li>
            <li>Вес груза</li>
            <li>Дата забора груза</li>
        </ul>
    </p>
    <p>2. Форма отображения списка заказов: все созданные заказы должны отображаться в отдельной форме. Помимо полей, введенных пользователем при создании заказа, должен отображаться автоматически сгенерированный номер заказа</p>
    <h2>Технологии</h2>
    <p>
        Необходимо использовать следующий стек технологий:
        <ul type="disc">
            <li>ASP.NET Core</li>
            <li>React.JS или ASP.NET MVC</li>
            <li>Entity Framework Core</li>
            <li>База данных может быть любой</li>
        </ul>
    </p>
    <h2>Оформление результата</h2>
    <p>Исходный код необходимо разместить на любом публичном репозитории (например, github, bickbucket). В файле readme.md (в корневой папке проекта) необходимо дать краткое описание действий, необходимых для запуска проекта.</p>
    <p><a href="Home/NewOrder" class="btn btn-primary btn-lg">Новый заказ &raquo;</a></p>


</div>